.edit-form {
    display: flex;
    flex-direction: column;
    margin: 0 30% 0 28%
  }
  
  .edit-form > * {
    width:100%;
  }
  .st{
    text-align: center;
    align-items: center;
    align-self: center
  }
  
  .fv{
   align-self: flex-start;
  }
  .fs{
    align-self: flex-end;

  }
  .ut{
    width:17%
  }
  .sts{
    align-self: center
  }