<div style="text-align:center">
  <p>Create Invoice </p>
</div>
<hr>
<div style="text-align:center">
  <h1>
    Invoice
  </h1>
</div>
<div style ="text-align-last: right">
Invoice date
<input type = "date" >
</div>
<div style ="text-align-last: right">
  Vendor number
  <input type = "text" >
  </div>
  <br>
  <br>
    <table style="width:175%">
        <tr>
          <td>From:</td>
          <td>To:</td>
        </tr>
        <tr>
          <td>Vaizva Inc,</td>
          <td>SmartSoftInc,</td>
          
        </tr>
        <tr>
          <td> 190 Blue Grass Valley,</td>
          <td>5050 Research Court,</td>
        </tr>
        <tr>
            <td>Alpharetta, GA-30065</td>
            <td>Suwanee, GA-30024</td>
        </tr>
      </table>
    <br>
    <br>
    <p>Invoice Items</p>
<div>
  <router-outlet></router-outlet>
</div>